/* Write some CSS below */
body {
  font-family: "Patrick Hand SC", cursive;
  color: #404042;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 22px;
}

h1 {
	font-size: 60px;
  background-color: rgba(255, 255, 255, 0.7);
 
}

.banner p {
	font-size: 35px;
  margin-bottom: 40px;
  background-color: rgba(255, 255, 255, 0.7);
}

a {
  color: #E8751A;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: red;
}

.banner {
	padding: 150px 0;
	background-image: url(images/Village.jpeg);
	background-position: center;
	background-size: cover;
	line-height: 1.2;
	color: #E8751A;
}

.cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-white {
  padding: 18px;
  margin: 20px;
  border-radius: 3px;
  box-shadow: 1px 1px 10px rgba(30, 30, 30, 1.0);
}

.btn-green {
    background-color: #12372A;
    color: white;
    padding: 16px 48px;
    border-radius: 4px;
    transition: .3s;
    font-size: 30px;
    font-weight: bold;


/* Cards media queries */
@media (max-width: 800px) {
  .cards {
    grid-template-columns: 1fr;
  }
  
  .card-white {
    width: auto;
  }
}
  
/* Container media queries */
@media (min-width: 500px) {
  .container {
    width: 400px;
  }
}


@media (min-width: 800px) {
  .container {
    width: 600px;
  }
}

@media (min-width: 1000px) {
  .container {
    width: 800px;
  }
}